{% extends 'base.html'%}

{%block conteudo%}

<main>
    <style>
        .texto-centralizado {
            text-align: center;
            font-size: 1.2em;
            color: #333; 
        }
        
        .telefone {
            font-weight: bold;
            color: #008080; 
        }
        #titulo{
            font-size: 24px;
            font-weight: bold;
            color: rgba(3, 151, 35, 0.952);
            text-align: center;
            padding: 10px;
            
            
        }
    
        .linha {
            border-bottom: 2px solid rgba(77, 250, 115, 0.952);
            
        }
        .fomulario{
            display; flex;
            margin: 0 auto;
            width:80%;
            padding: 10px;
            border-radiuns: 10px;
            background-color: ;
            height: 100%;
            margin-bottom: 50px;
        }
    </style>
    
    <h4 id="titulo" class="container-fluid">CONTATO</h4>
    <div class="linha"></div>
    <div class = "fomulario">
                <form action="{% url 'contato' %}" method="post" class="my-4 container-fluid">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-12 ">
                            {{ form.nome }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email }}
                        </div>
                        <div class="col-md-12 ">
                            {{ form.assunto }}
                        </div>
                        <div class="col-md-12">
                            {{ form.mensagem}}
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn " style="background-color: rgba(77, 250, 115, 0.952);">Enviar Mensagem</button>
                        </div>
                    </div>
                </form>
            </div>
</main>


{%endblock conteudo%}