{% extends 'base.html'%}

{%block conteudo%}

<style>
    .conteudo {
        
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
    }
    
    .titulo {
        font-size: 24px;
        font-weight: bold;
        color: rgba(3, 151, 35, 0.952);
        text-align: center;
    }
    
    .linha {
        border-bottom: 2px solid rgba(2, 175, 175, 0.952); 
    }
    
    .texto16 {
        font-size: 16px;
        color: #000000;
    }
    
    a {
        color: #0000FF;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
</style>

    <div class="container"></div>
    <div class="conteudo container-fluid">
        <p class="titulo ">SOBRE</p>
            <div class="linha"></div>


            <p class="texto16">
                <div style="TEXT-ALIGN:" justify="">Desde 1995 oferecendo novidades e raridades em brinquedos para amantes e colecionadores de miniaturas. Ítens retrô (anos 80) e peças personalizadas, por encomenda.<br></div><br><span style="FONT-WEIGHT:" bold="">Compramos brinquedos e bonecos colecionáveis, novos e usados.</span><div><b><br></b>
            </p>
                <div><span style="FONT-STYLE:" italic=""> Faça-nos uma visita!</span><br><span class="Apple-style-span" style="FONT-STYLE:" normal="">Edifício Barão de Christina - Av. Paulista, n. 1471, loja 14 - São Paulo SP tel: 11-3266-8703&nbsp;</span></div>
            <p>
                <div><span style="FONT-STYLE:" italic="">Horário de funcionamento:&nbsp;</span><br>Segunda à Sexta das 10:30 às 18:30 h&nbsp;</div><div>Sábado das 10:00 às 14:00 h</div></div></span>
            </p>
    </div>

{%endblock conteudo%}