#logo{
    position: absolute;
	right: 50%;
	top: 30px;
    max-width: 100%;
    transform: translate(50%, 0);
    width: 500px;
    max-height: 100%;
    overflow: visible;
    }
   
.d-grid{
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

#botao{
    background-color: rgba(2, 175, 175, 0.952);
    position: absolute;
    max-width: 100%;
	left: 70%;
    right: 80%;
	top: 80px;
    transform: translate(50%, 0);
    z-index: 500; /*isso define que o botão vai ta por cima da logo e do fundo*/
}

.btn-outline-success{
    background-color: rgba(10, 150, 150, 0.651);
}


.text-center{
    position: absolute;
    top: 1650px;
    left: 40%;
}

#footerC{
    text-align: center;
    position: relative;
    color: white;
}

#footer{
    
    background-repeat: no-repeat;
    background-size: cover;
    
}
.mb-3 {
    margin: 50px;
    width: 50px;
}
.img-responsive {
    max-width: 100%;
}

.imagem{
    position: absolute;
    width: 100%;
    height: 10%;
    background-size: cover;
}